
.social{
    position: relative;
    width: 100%;
    height: 200px;
    background: url("./img2/social.png");
    background-size: cover;
    padding: 10px;
    top: 0%;
    margin: 0px auto;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}
.social h1{
    font-family: 'Josefin', sans-serif;
    left: 35%;
    position: relative;
    color: rgb(122, 122, 122);
    font-size: 25px;
    font-weight: bold;
    top: 10%;
}

#fb img{
    position: absolute;
    width: 12%;
    top: 45%;
    left: 20%;
    filter: drop-shadow(5px 5px 5px rgb(207, 207, 207));
}
#fb img:hover{
    transform: translateY(-4px);
    transition: 0.3s;
}


#insta img{
    position: absolute;
    width: 12%;
    top: 45%;
    left: 35%;
    filter: drop-shadow(5px 5px 5px rgb(207, 207, 207));
}

#insta img:hover{
    transform: translateY(-4px);
    transition: 0.3s;
}


#tw img{
    position: absolute;
    width: 12%;
    top: 45%;
    left: 50%;
    filter: drop-shadow(5px 5px 5px rgb(207, 207, 207));
}
#tw img:hover{
    transform: translateY(-4px);
    transition: 0.3s;
}


#git img{
    position: absolute;
    width: 12%;
    top: 45%;
    left: 65%;
    filter: drop-shadow(5px 5px 5px rgb(207, 207, 207));
}
#git img:hover{
    transform: translateY(-4px);
    transition: 0.3s;
}

.sponser{
    position: relative;
    width: 100%;
    height: 340px;
    background-color: #fff;
    
    padding: 10px;
    top: 0%;
    margin: 0px auto;
}

.card {
    
    height: 300px;
    background: #fff;
    max-width: 380px;
    border-radius: 10px;
    margin: 10px auto;
  }
  
 .card h2{
    font-family: 'Teko', sans-serif;
    font-size: 25px;
    top: 0%;
    left: 30%;
    position: relative;
    color: rgb(156, 156, 156);
 } 
  .shadow1 { 
    box-shadow: 0 5px 10px rgba(154,160,185,.07), 0 15px 40px rgba(166,173,201,.2);
  }
  
  #d11 img{
    position: absolute;
    width: 32%;
    top: 21%;
    left: 10%;
    filter: drop-shadow(5px 5px 5px rgb(207, 207, 207)); 
  }

  #hs img{
    position: absolute;
    width: 20%;
    top: 40%;
    left: 15%;
    filter: drop-shadow(5px 5px 5px rgb(207, 207, 207)); 
  }

 #paytm img{
    position: absolute;
    width: 20%;
    top: 21%;
    left: 60%;
    filter: drop-shadow(5px 5px 5px rgb(207, 207, 207));
 }

 #unacademy img{
    position: absolute;
    width: 38%;
    top: 75%;
    left: 9%;
    filter: drop-shadow(5px 5px 5px rgb(207, 207, 207));
 }

 #ceat img{
    position: absolute;
    width: 20%;
    top: 75%;
    left: 60%;
    filter: drop-shadow(5px 5px 5px rgb(207, 207, 207)); 
 }

 #star img{
    position: absolute;
    width: 20%;
    top: 40%;
    left: 60%;
    
 }

 .footer {
    position: relative;
    width: 100%;
    height: 80px;
    background: linear-gradient(to bottom, #323232 0%, #3F3F3F 40%, #1C1C1C 150%), linear-gradient(to top, rgba(255,255,255,0.40) 0%, rgba(0,0,0,0.25) 200%);
 background-blend-mode: multiply;
    padding: 10px;
    top: 0%;
    margin: 0px auto;
 }

 .footer p{
     color: #fff;
     font-family: 'Kumbh Sans', sans-serif;
     font-weight: 200;
     text-align: center;
     top: 0%;
     position: relative;
 }

